---
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import SendIcon from "../icons/SendIcon.astro";

const IconStyle =
    "w-10 h-10 hover:text-[#3b3b3b] dark:text-gray-200 dark:hover:text-white transition-all duration-500 cursor-pointer hover:scale-105 ";

const socialLinks = [
    {
        icon: GitHubIcon,
        url: "https://github.com/aaleex05/",
    },
    {
        icon: LinkedInIcon,
        url: "https://www.linkedin.com/in/alex-aperador/",
    },
];
---

<div class="flex items-center flex-col dark:text-gray-200 text-[#141414] mt-30">
    <p class="font-medium">Alex Aperador Salcedo</p>
    <h1 class="text-8xl font-semibold text-center">
        FRONTEND
        <br />
        DEVELOPER
    </h1>
    <div
        class="bg-[#0C2B14] px-5 py-2 rounded-full flex items-center gap-3 mt-5 drop-shadow-md dark:shadow-[0_0_20px_rgba(47,147,47,0.30)]"
    >
        <div class="bg-[#2F932F] animate-pulse w-4 h-4 rounded-full"></div>
        <p class="text-md text-gray-200">Available to work</p>
    </div>

    <div class="flex gap-5 mt-10 items-center">
        {
            socialLinks.map(({ icon: Icon, url }) => (
                <a href={url} target="_blank" rel="noopener noreferrer">
                    <Icon class={IconStyle} />
                </a>
            ))
        }
        <a
            href=""
            class="dark:bg-gray-200 bg-[#141414] duration-500 hover:scale-105 dark:text-[#141414] ease-in-out dark:shadow-[0_0_20px_rgba(255,255,255,0.6)] 
            shadow-[0_0_20px_rgba(20,20,20,0.6)] text-gray-200 py-2 px-4 rounded-full font-medium flex items-center gap-2 hover:dark:bg-white hover:bg-[#3b3b3b] transition-all cursor-pointer"
            ><SendIcon />Contact me</a
        >
    </div>
</div>
